@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
body {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.header {
  height: 800px;
  background-image: url(img/sliderimg.jpg);
}

.header .logo {
  margin-left: 98px;
  margin-top: 63px;
}

.header .menu {
  float: right;
  list-style-type: none;
  margin-right: 167px;
  margin-top: 63px;
}

.header .menu li {
  float: left;
}

.menu li:nth-child(1) {
  width: 78px;
}
.menu  li:nth-child(2) {
  width: 117px;
}
.menu  li:nth-child(3) {
  width: 97px;
}
.menu  li:nth-child(4) {
  width: 130px;
}
.menu  li:nth-child(5) {
  width: 103px;
}
.menu  li:nth-child(6) {
  padding-left: 10px;
}
.menu  li a {
  text-decoration: none;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  padding: 0 14px 8px;
  /*margin: 0 1px;*/
}
.menu  li a:hover {
  font-weight: 700;
  color: #212121;
  border-bottom: 3px solid black;
}

.trending {
  width: 460px;
  margin-top: 288px;
  margin-left: 98px;
}

.trending h3 {
  color: #43a047;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
}

.trending h1 {
  color: #212121;
  font-size: 62px;
  font-weight: 100;
  line-height: 72px;
}

.trending p {
  color: #6c6c6c;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

.trending a {
  display: block;
  background-color: #ffffff;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  width: 212px;
  height: 45px;
  text-decoration: none;
  border-radius: 22px;
  text-align: center;
  line-height: 45px;
  color: #212121;
  font-size: 18px;
  font-style: 700;
  text-align: center;
  margin-top: 18px;
}

.trending a:hover {
  background: #ffffff url('img/arrow.png') no-repeat 173px 16px;
}

.second_part {
  height: 609px;
  width: 1170px;
  display: block;
  margin: 0 auto;
  border: none;
}

.second_part .menu_2 {
  float: left;
  list-style-type: none;

}


.second_part .menu_2 li {
  margin-top: 108px;
float: left;

}

.menu_2 li:nth-child(1) {
  width: 183px;
}
.menu_2 li:nth-child(2) {
  width: 98px;
}
.second_part .menu_2 li a {
  color: #6c6c6c;
  display: block;
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  padding: 0 10px 12px 3px;
  border-bottom: 1px solid black;
}

.second_part .menu_2 li a:hover {
  padding-bottom: 11px;
  font-weight: 700;
  color: #212121;
  border-bottom: 3px solid black;

}

.second_part a {
  float: right;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  display: block;
  padding-top: 112px;
  padding-right: 20px;
  text-decoration: none;
}

.second_part a:hover {
  background: #ffffff url('img/arrow.png') no-repeat 140px 119px;
}

.second_part div {
  clear: both;
  position: absolute;
  height: 270px;
  margin-top: 219px;
  border: none;
}

img[alt="product-1"] {
  margin-right: 30px;
  width: 270px;
}

img[alt="product-2"] {
  margin-right: 30px;
  width: 270px;
}

img[alt="product-3"] {
  margin-right: 30px;
  width: 270px;
}

.third_part {
  height: 683px;
  display: block;
  border: none;
  float: left;
}

.third_part .header1 {
  height: 683px;
  width: 683px;
  float: left;
  background-image: url(img/promo-img1.jpg);
}

.third_part .header2 {
  height: 683px;
  width: 683px;
  float: left;
  background-image: url(img/promo-img.jpg);
}

.third_part .trending_3 {
  width: 374px;
  margin-top: 228px;
  margin-left: 51px;
}

.third_part .trending_3 h3 {
  color: #1e88e5;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
}

.third_part .trending_3 h1 {
  color: #212121;
  font-size: 36px;
  font-weight: 100;
  line-height: 72px;
  text-transform: uppercase;
}

.third_part .trending_3 p {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  margin-bottom: 20px;
}

.third_part .trending_3 a {
  display: block;
  background-color: #ffffff;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  width: 212px;
  height: 45px;
  text-decoration: none;
  border-radius: 22px;
  text-align: center;
  line-height: 45px;
  color: #212121;
  font-size: 18px;
  font-style: 700;
  text-align: center;
}

.third_part .trending_3 a:hover {
  background: #ffffff url('img/arrow.png') no-repeat 173px 16px;
}

.fourth_part {
  height: 1108px;
  width: 1170px;
  display: block;
  margin: 0 auto;
  border: none;
  clear: both;
}

.fourth_part .menu_4 {
  margin-top: 119px;
  position: absolute;
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-decoration: none;
  display: block;
}

.fourth_part a {
  float: right;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  display: block;
  padding-top: 138px;
  text-decoration: none;
  padding-right: 20px;
}

.fourth_part a:hover {
  background: #ffffff url('img/arrow.png') no-repeat 140px 145px;
}
.fourth_part div {
  clear: both;
  position: absolute;
  height: 270px;
  margin-top: 188px;
  border: none;
  width: 1170px;
}

img[alt="product-11"] {
  margin-right: 30px;
  margin-top: 30px;
  width: 370px;
}

img[alt="product-21"] {
  margin-right: 30px;
  margin-top: 30px;
  width: 370px;
}

img[alt="product-31"] {
  margin-top: 30px;
  width: 370px;
}

img[alt="product-41"] {
  margin-right: 30px;
  margin-top: 30px;
  width: 370px;
}

img[alt="product-5"] {
  margin-right: 30px;
  margin-top: 30px;
  width: 370px;
}

.fifth_part {
  height: 800px;
    background-image: url(img/back-img2.jpg);
}

.fifth_part .trending1 {
  width: 470px;
  padding-top: 257px;
  padding-left: 99px;
}

.fifth_part .trending1 h3 {
  color: #e53935;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
}

.fifth_part .trending1 h1 {
  color: #212121;
  font-size: 62px;
  font-weight: 100;
  line-height: 72px;
  text-transform: uppercase;
}

.fifth_part .trending1 p {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

.fifth_part .trending1 a {
  display: block;
  background-color: #ffffff;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  width: 212px;
  height: 45px;
  text-decoration: none;
  border-radius: 22px;
  text-align: center;
  line-height: 45px;
  color: #212121;
  font-size: 18px;
  font-style: 700;
  text-align: center;
  margin-top: 18px;
}

.fifth_part .trending1 a:hover {
  background: #ffffff url('img/arrow.png') no-repeat 173px 16px;
}

.sixth_part {
  height: 810px;
  width: 1170px;
  display: block;
  margin: 0 auto;
  border: none;
}

.sixth_part div {
  clear: both;
  position: absolute;
  height: 270px;
  margin-top: 120px;
  border: none;
  width: 1170px;
}

img[alt="product-1-lg"] {
  margin-right: 30px;
  width: 570px;
}

img[alt="product-2-sm"] {
  width: 270px;
  position: absolute;
  left: 600px;
}

img[alt="product-3-sm"] {
  width: 270px;
  position: absolute;
  left: 900px;
}

img[alt="product-4-sm"] {
  margin-right: 30px;
  margin-top: 30px;
  width: 270px;
}

img[alt="product-5-sm"] {
  width: 270px;
}

.seventh_path {
  height: 516px;
  background-image: url(img/back-img.jpg);
}

.trending2 {
  position: absolute;
  width: 470px;
  padding-top: 186px;
  padding-left: 31px;
}

.trending2 h3 {
  color: #1e88e5;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
}

.trending2 h1 {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 72px;
}

.trending2 p {
  color: #6c6c6c;
  font-size: 13.99px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  width: 332px;
}

.trending2 a {
  display: block;
  background-color: #ffffff;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  width: 212px;
  height: 45px;
  text-decoration: none;
  border-radius: 22px;
  text-align: center;
  line-height: 45px;
  color: #212121;
  font-size: 18px;
  font-style: 700;
  text-align: center;
  margin-top: 18px;
}

.trending2 a:hover {
  background: #ffffff url('img/arrow.png') no-repeat 173px 16px;
}

.trending3 {
  position: absolute;
  width: 470px;
  padding-top: 99px;
  padding-left: 125px;
}

.trending3 h3 {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  text-align: left;
}

.trending3 h1 {
  color: #212121;
  font-size: 58px;
  font-weight: 100;
  line-height: 72px;
  text-transform: uppercase;
  text-align: left;

}

.trending3 p {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;

}

.apps {
  padding-top: 10px;
}



.footer {
    width: 1366px;
    height: 384px;
    background-color: #f7f7f7;
}

.info {
    padding-top: 97px;
    padding-left: 97px;
    padding-right: 105px;
    display: flex;
    justify-content: space-between;
}

.info h4 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-bottom: 24px;
}

.info p {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    margin-bottom: 26px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links-1 {
    margin-right: 103px;
}

.links a {
    display: block;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-decoration: none;
}

.email-form {
    display: flex;
    flex-direction: row;
    width: 368px;
}

.email-box {
    flex-grow: 2;
    border-width: 1px;
    border-color: #d9dee1;
    border-style: solid;
    background-color: #ffffff;
    border-right: none;
    height: 46px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    text-indent: 17px;
}

.email-box:focus {
    outline: none;
}

.email-btn {
    padding-right: 14px;
    border-width: 1px;
    border-color: #d9dee1;
    background-color: #fff;
    border-style: solid;
    border-left: none;
}

.email-btn:focus {
    outline: none;
}

.copyright {
  clear: both;
width: 1170px;
margin-left: 98px;

}

.copyright p {
  float: left;
  font-size: 10px;
}
.social {
  float: left;
    display: block;
    width: 129px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.copyright p a {
  float: right;
    color: #6c6c6c;
    font-size: 10px;
    text-decoration: none;
}

.social a {
    display: inline-block;
}

.col-1 {
  margin-right: 80px;
}
